In [6]:
import pandas as pd

In [7]:
%store -r nfl_weather_df
nfl_weather_df.head()

,id,home_team,home_score,away_team,away_score,temperature,wind_chill,humidity,wind_mph,weather,date,date2
10073,200901030crd,Arizona Cardinals,30,Atlanta Falcons,24,72,NaN,NaN,NaN,72 degrees- no wind,1/3/2009,2009-01-03
10074,200901030sdg,San Diego Chargers,23,Indianapolis Colts,17,54,NaN,78%,7.0,54 degrees- relative humidity 78%- wind 7 mph,1/3/2009,2009-01-03
10075,200901040min,Minnesota Vikings,14,Philadelphia Eagles,26,72,NaN,NaN,NaN,72 degrees- no wind,1/4/2009,2009-01-04
10076,200901040mia,Miami Dolphins,9,Baltimore Ravens,27,74,NaN,72%,10.0,74 degrees- relative humidity 72%- wind 10 mph,1/4/2009,2009-01-04
10077,200901100oti,Tennessee Titans,10,Baltimore Ravens,13,53,NaN,68%,12.0,53 degrees- relative humidity 68%- wind 12 mph,1/10/2009,2009-01-10

In [8]:
%store -r gameinfo_df
gameinfo_df.head()

,type,game_id,home_team,away_team,week,season,state_of_game,game_url,home_score,away_score
0,reg,20090910,PIT,TEN,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,13,10
1,reg,20090913,CLE,MIN,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,20,34
2,reg,20090913,NO,DET,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,45,27
3,reg,20090913,TB,DAL,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,21,34
4,reg,20090913,HOU,NYJ,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,7,24

In [9]:
%store -r roster_df
roster_df.head()

   season full_player_name abbr_player_name team position first_name last_name
0    2009      Aaron Brown          A.Brown  DET       RB      Aaron     Brown
1    2009    Aaron Rodgers        A.Rodgers   GB       QB      Aaron   Rodgers
2    2009    Aaron Stecker        A.Stecker  ATL       RB      Aaron   Stecker
3    2009  Adrian Peterson       A.Peterson  CHI       RB     Adrian  Peterson
4    2009  Adrian Peterson       A.Peterson  MIN       RB     Adrian  Peterson

In [43]:
%store -r df3
df3.head()

%store -r df2

,name,first_name,last_name,college,position,height,weight,draft_team,draft_round,year_start,year_end
0,Isaako Aaitui,Isaako,Aaitui,NaN,NT,4-Jun,315.0,NaN,NaN,2013,2013
1,Faye Abbott,Faye,Abbott,Syracuse,BB-FB-TB-QB-WB-,8-May,182.0,NaN,NaN,1921,1929
2,Vince Abbott,Vince,Abbott,Washington,K,11-May,207.0,NaN,NaN,1921,1929
3,Duke Abbruzzi,Duke,Abbruzzi,Rhode Island,HB-DB,10-May,175.0,NaN,NaN,1921,1929
4,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,UCLA,RB,10-May,194.0,Miami Dolphins,3rd,1996,2000
5,Isa Abdul-Quddus,Isa,Abdul-Quddus,Fordham,S,1-Jun,220.0,NaN,NaN,1996,2000
6,Hamza Abdullah,Hamza,Abdullah,Washington St.,DB,2-Jun,213.0,Tampa Bay Buccaneers,7th,1996,2000
7,Husain Abdullah,Husain,Abdullah,Washington St.,DB,Jun-00,204.0,NaN,NaN,1996,2000
8,Khalid Abdullah,Khalid,Abdullah,Mars Hill,LB,2-Jun,227.0,Cincinnati Bengals,5th,1996,2000
9,Rabih Abdullah,Rabih,Abdullah,Lehigh,RB,Jun-00,220.0,NaN,NaN,1996,2000
10,Rahim Abdullah,Rahim,Abdullah,Clemson,LB,5-Jun,233.0,Cleveland Browns,2nd,1996,2000
11,Fred Abel,Fred,Abel,Washington,BB-FB,10-May,170.0,NaN,NaN,1926,1926
12,Bud Abell,Bud,Abell,Missouri,LB,3-Jun,220.0,Kansas City Chiefs,23rd,1926,1926
13,Walter Abercrombie,Walter,Abercrombie,Baylor,RB,Jun-00,210.0,Pittsburgh Steelers,1st,1926,1926
14,Cliff Aberson,Cliff,Aberson,none,TB-DB,Jun-00,195.0,NaN,NaN,1926,1926
15,Victor Abiamiri,Victor,Abiamiri,Notre Dame,DE,4-Jun,267.0,Philadelphia Eagles,2nd,2007,2011
16,Oday Aboushi,Oday,Aboushi,Virginia,OT,5-Jun,308.0,New York Jets,5th,2013,2013
17,Clifton Abraham,Clifton,Abraham,Florida St.,DB,9-May,184.0,Tampa Bay Buccaneers,5th,1995,1997
18,Donnie Abraham,Donnie,Abraham,East Tennessee St.,DB,10-May,190.0,Tampa Bay Buccaneers,3rd,1995,1997
19,John Abraham,John,Abraham,South Carolina,DE,4-Jun,256.0,New York Jets,1st,1995,1997
20,Robert Abraham,Robert,Abraham,North Carolina St.,LB,1-Jun,228.0,Houston Oilers,3rd,1995,1997
21,Danny Abramowicz,Danny,Abramowicz,Xavier (OH),E,1-Jun,195.0,New Orleans Saints,17th,1995,1997
22,Sid Abramowitz,Sid,Abramowitz,Air Force,T,6-Jun,280.0,Baltimore Colts,5th,1995,1997
23,Bobby Abrams,Bobby,Abrams,Michigan,LB,3-Jun,240.0,NaN,NaN,1995,1997
24,Kevin Abrams,Kevin,Abrams,Syracuse,DB,8-May,175.0,Detroit Lions,2nd,1995,1997
25,Nate Abrams,Nate,Abrams,none,E,4-May,145.0,NaN,NaN,1995,1997
26,George Abramson,George,Abramson,Minnesota,G-T,7-May,198.0,NaN,NaN,1995,1997
27,Dick Abrell,Dick,Abrell,Purdue,BB-WB,10-May,172.0,NaN,NaN,1995,1997
28,Ray Abruzzese,Ray,Abruzzese,Alabama,B,1-Jun,194.0,Buffalo Bills,23rd,1995,1997
29,Frank Abruzzino,Frank,Abruzzino,Colgate,BB-LB-C-G-E-WB-,Jun-00,193.0,NaN,NaN,1995,1997
...,...,...,...,...,...,...,...,...,...,...,...
23703,Vince Zizak,Vince,Zizak,Villanova,G-T,8-May,208.0,NaN,NaN,1934,1937
23704,Mickey Zofko,Mickey,Zofko,Auburn,RB,3-Jun,195.0,Detroit Lions,9th,1971,1974
23705,Jon Zogg,Jon,Zogg,Boise St.,G,4-Jun,290.0,NaN,NaN,1987,1987
23706,Clyde Zoia,Clyde,Zoia,Notre Dame,G,7-May,175.0,NaN,NaN,1920,1923
23707,Scott Zolak,Scott,Zolak,Maryland,QB,5-Jun,230.0,New England Patriots,4th,1992,1999
23708,Carl Zoll,Carl,Zoll,none,G,9-May,215.0,NaN,NaN,1992,1999
23709,Dick Zoll,Dick,Zoll,Indiana,G-T,11-May,218.0,NaN,NaN,1992,1999
23710,Marty Zoll,Marty,Zoll,none,G,8-May,185.0,NaN,NaN,1992,1999
23711,Eric Zomalt,Eric,Zomalt,California,DB,11-May,201.0,Philadelphia Eagles,3rd,1994,1996
23712,Joe Zombek,Joe,Zombek,Pittsburgh,DE-E,1-Jun,195.0,Pittsburgh Steelers,9th,1994,1996
23713,Frank Zombo,Frank,Zombo,Central Michigan,LB,3-Jun,254.0,NaN,NaN,1994,1996
23714,Lou Zontini,Lou,Zontini,Notre Dame,B,9-May,189.0,NaN,NaN,1940,1946
23715,John Zook,John,Zook,Kansas,DE,4-Jun,243.0,Los Angeles Rams,4th,1969,1979
23716,Frank Zoppetti,Frank,Zoppetti,Duquesne,TB,11-May,185.0,NaN,NaN,1941,1941
23717,Michael Zordich,Michael,Zordich,Penn State,FB,1-Jun,236.0,NaN,NaN,2013,2013
23718,Mike Zordich,Mike,Zordich,Penn St.,DB,1-Jun,207.0,San Diego Chargers,9th,2013,2013
23719,Chris Zorich,Chris,Zorich,Notre Dame,DT,1-Jun,278.0,Chicago Bears,2nd,2013,2013
23720,George Zorich,George,Zorich,Northwestern,G-LB,2-Jun,213.0,NaN,NaN,2013,2013
23721,Jim Zorn,Jim,Zorn,Cal Poly-Pomona,QB,2-Jun,200.0,NaN,NaN,2013,2013
23722,Vic Zucco,Vic,Zucco,Wayne State (MI),DB,Jun-00,187.0,Chicago Bears,5th,1957,1960
23723,Greg Zuerlein,Greg,Zuerlein,Missouri Western St.,K,Jun-00,187.0,St. Louis Rams,6th,2012,2013
23724,Dave Zuidmulder,Dave,Zuidmulder,St. Ambrose,TB,10-May,175.0,NaN,NaN,1929,1931
23725,Paul Zukauskas,Paul,Zukauskas,Boston Col.,G-T,5-Jun,320.0,Cleveland Browns,7th,2001,2004
23726,Charlie Zunker,Charlie,Zunker,Texas St.,T,4-Jun,227.0,NaN,NaN,1934,1934
23727,Albert Zupek,Albert,Zupek,Lawrence,BB,1-Jun,205.0,NaN,NaN,1946,1946
23728,Markus Zusevics,Markus,Zusevics,Iowa,OL,5-Jun,300.0,NaN,NaN,2012,2013
23729,Jeremy Zuttah,Jeremy,Zuttah,Rutgers,G,4-Jun,303.0,Tampa Bay Buccaneers,3rd,2008,2013
23730,Merle Zuver,Merle,Zuver,Nebraska,G-C,1-Jun,198.0,NaN,NaN,1930,1930
23731,Tony Zuzzio,Tony,Zuzzio,Muhlenberg,G,11-May,210.0,NaN,NaN,1942,1942
23732,Jim Zyntell,Jim,Zyntell,Holy Cross,G,1-Jun,200.0,NaN,NaN,1933,1935

In [48]:
roster_merge_df = roster_df.merge(right = df2, on = ['first_name', 'last_name'], how = 'left')
roster_merge_df = roster_merge_df[['full_player_name', 'first_name', 'last_name', 'position_x', 'college', 'team']]

col_names = ['full_name', 'first_name', 'last_name', 'position', 'college', 'team']

roster_merge_df.columns = col_names

%store roster_merge_df

# roster_merge_df['college'].value_counts()

roster_merge_df roster_merge_df.drop_duplicates(keep = False)

# len(roster_merge_df['college'])


roster_merge_df.loc[roster_merge_df['full_name'] == 'Aaron Rodgers']

Stored 'roster_merge_df' (DataFrame)

          full_name first_name last_name position     college team
2     Aaron Rodgers      Aaron   Rodgers       QB  California   GB
555   Aaron Rodgers      Aaron   Rodgers       QB  California   GB
1135  Aaron Rodgers      Aaron   Rodgers       QB  California   GB
1710  Aaron Rodgers      Aaron   Rodgers       QB  California   GB
2279  Aaron Rodgers      Aaron   Rodgers       QB  California   GB